.products {
   .tabs__list {
      position: sticky;
      top: 5rem;
      left: 0;
      padding-top: 1.25rem;
      height: 6.125rem;
      z-index: 501;
      background-color: $white;
      transition: .15s ease-in-out;
      &.bgShadow {
         padding-top: 0rem;
         box-shadow: 0px 2px 8px rgba(0, 0, 0, .09);
         height: 4.875rem;
      }
      .backdrop {
         position: absolute;
         // background-color: rgba(26, 26, 26, 0);
         background-color: #090909;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         z-index: -1;
      }
      .prev, .next, .top {
         cursor: pointer;
         transition: $trans;
         position: absolute;
         top: 15%;
         --value: 3rem;
         height: var(--value);
         width: var(--value);
         // display: flex;
         align-items: center;
         justify-content: center;
         z-index: 2;
         transition: $trans;
         @media screen and (max-width: 744px) {
            display: none;
         }
         @media screen and (min-width: 745px) {
            display: flex;
         }
         .tab__image {
            transform: scale(.25);
         }
         &.hidden {
            opacity: 0;
            pointer-events: none;
         }
         &::before {
            --val: 1.8rem;
            content: '';
            position: absolute;
            height: var(--val);
            width: var(--val);
            z-index: -1;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $color-3;
            background-color: $white;
            transition: $trans;
         }
      }
      .prev {
         left: -5px;
         transform: rotate(-90deg);
         background: linear-gradient(180deg, #fff 57.73%, rgba(26, 26, 26, 0) 132.37%);
         &:hover {
            transform: scale(1) rotate(-90deg);
         }
         &:hover::before {
            box-shadow: -5px 0px 10px rgba(0, 0, 0, .2);
         }
         // &::before {
         //    background: linear-gradient(180deg, #fff 57.73%, rgba(26, 26, 26, 0) 112.37%);
         // }
      }
      .next {
         right: 0;
         transform: rotate(90deg);
         background: linear-gradient(180deg, #fff 57.73%, rgba(26, 26, 26, 0) 112.37%);
         &:hover {
            transform: scale(1) rotate(90deg);
         }
         &:hover::before {
            box-shadow: 5px 0px 10px rgba(0, 0, 0, .2);
         }
         // &::before {
         //    background: linear-gradient(180deg, #fff 57.73%, rgba(26, 26, 26, 0) 112.37%);
         // }
      }
      .top {
         right: 0;
         transform: scale(0.86) rotate(0deg);
         &:hover {
            transform: scale(1)  rotate(0deg);
         }
         // &::before {
         //    background: linear-gradient(-90deg, #fff 57.73%, rgba(0, 0, 0, .5) 112.37%);
         // }
      }
      .caroosel {
         // overflow: hidden;
         width: 100%;
         height: fit-content;
         .caroosel-inner {
            --carousel-index: 0;
            display: flex;
            // width: 100%;
            transform: translateX(calc(var(--carousel-index) * -20%));
            transition: .3s ease-in-out;
            
            &::-webkit-scrollbar {
               width: 0; /* Safari and Chrome */
               height: 0; /* Safari and Chrome */
            }
            &::-webkit-scrollbar-track {
               background: transparent;
            }
            &::-webkit-scrollbar-thumb {
               position: absolute;
               background-color: rgba(255, 255, 255, .05);
               border-radius: 0;
            }
         }
         @media screen and (max-width: 678px) {
            .caroosel-inner {
               overflow-x: scroll;
               // width: auto;
            }
         }
      }
      .tabs__list__inner {
         li {
            height: 100%;
            transition: $trans;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            p {
               font-size: .75rem;
               font-weight: 600;
               color: $color-5;
               transition: $trans;
            }
            .img {
               --val: 1.5rem;
               height: var(--val);
               width: var(--val);
               opacity: .7;
               transition: $trans;
            }
            &:hover, &.active {
               border-bottom: 2px solid $color-2;
               p {
                  color: $black;
               }
               .img {
                  opacity: 1;
               }
            }
            &.active {
               cursor: auto;
               border-bottom: 2px solid $black;
            }
         }
      }
   }

   .show {
      position: fixed;
      top: 84%;
      left: 50%;
      font-size: .87rem;
      font-weight: 600;
      color: $white;
      letter-spacing: .01rem;
      display: flex;
      align-items: center;
      padding: .875rem 1.1875rem;
      border-radius: 24px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      background-color: $color-3;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: $trans;
      z-index: 1000;
      &:hover {
         transform: translate(-50%, -50%) scale(1.03);
      }
   }

   .product {
      a {
         color: $color-3;
         z-index: 1;
      }
      .product__inner {
         .img__wrapper {
            position: relative;
            .swiper-button-prev,
            .swiper-button-next {
               --val: 1.8rem;
               height: var(--val);
               width: var(--val);
               border-radius: 50%;
               overflow: hidden;
               background-color: rgba(255, 255, 255, .8);
               transition: $trans;
               display: flex;
               align-items: center;
               justify-content: center;
               opacity: 0;
               pointer-events: none;
               z-index: 100;
               &::after {
                  transform: scale(.25);
                  font-weight: 600;
                  color: $black;
               }
               &:hover {
                  background-color: rgba(255, 255, 255, 1);
               }
            }
            &:hover {
               .swiper-button-prev,
               .swiper-button-next {
                  opacity: 1;
                  pointer-events: auto;
               }
               .swiper-button-disabled {
                  opacity: 0;
                  cursor: auto;
                  pointer-events: none;
               }
            }
            .mySwiper {
               position: relative;
               .swiper-slide {
                  border-radius: 12px !important;
                  overflow: hidden;
               }
               .img {
                  border-radius: 12px;
                  overflow: hidden;
                  // height: 17.75rem !important;
                  // width: 100% !important;
                  aspect-ratio: 1 / 1;
                  background-color: #777;
                  span {
                     height: 100% !important;
                     width: 100% !important;
                  }
               }
               .heart {
                  --val-like: 1.8rem;
                  --val-space: 1rem;
                  height: var(--val-like);
                  width: var(--val-like);
                  position: absolute;
                  top: var(--val-space);
                  right: var(--val-space);
                  z-index: 1000;
               }
               .swiper-pagination-bullet {
                  margin-left: .1rem;
                  margin-right: .1rem;
                  background-color: rgba(255, 255, 255, 1);
               }
               .swiper-pagination-bullet-active-prev,
               .swiper-pagination-bullet-active-next {
                  transform: scale(.75);
                  opacity: .5;
               }
               .swiper-pagination-bullet-active-prev-prev,
               .swiper-pagination-bullet-active-next-next {
                  transform: scale(.65);
                  opacity: .5;
               }
            }
         }
         h6 {
            font-weight: 600;
            color: $color-3;
            word-break: break-all;
         }
         p {
            color: $color-5;
         }
         .cost {
            color: $color-7;
            span {
               font-weight: 600;
            }
         }
         .rating {
            .rate {
               --val: .82rem;
               height: var(--val);
               width: var(--val);
            }
         }
      }
   }

   .map {
      height: 80vh;
      width: 100%;
      background-color: $white;
   }
}
