$trans: .15s ease-in;
$trans2: .25s ease-in;

$white: #ffffff;
$black: #000000;

$color-1: #FF385C;
$color-2: #DDDDDD;
$color-3: #222222;
$color-4: #B0B0B0;
$color-5: #717171;
$color-6: rgb(72, 72, 72);
$color-7: rgb(34, 34, 34);
$color-8: rgb(176, 176, 176);
$color-9: rgb(113, 113, 113);

$border: 1px solid $color-2;

@keyframes fadeIn {
   from {
      opacity: 0;
      margin-top: 20px;
   }

   to {
      opacity: 1;
      margin-top: 0;
   }
}
$fade1: fadeIn .25s ease-in;
